#flash {
	background-color : pink;
}
#featured-1,#featured-2,#featured-3 {
	background-color : blue;
}
#main {
	background-color : yellow;
}
#sidebar {
	background-color : green;
}
#triptych-1,#triptych-2,#triptych-3 {
	background-color : purple;
}
#footer-col-1,#footer-col-2,#footer-col-3,#footer-col-4 {
	background-color : red;
}